h1, .initial, .fa-music {
    color: rgb(200, 50, 50);
}

.btn-danger {
    background-color: rgb(200, 50, 50);
    border: black solid 2px;
    color: black;
}

.btn-warning {
    background-color: rgb(200, 50, 50);
    border: black solid 2px;
    color: rgb(255, 255, 255);
}