h1, .initial, .fa-music, .fa-question-circle, .fa-camera, .fa-youtube-square  {
    color: rgb(200, 50, 50);
}

.btn-danger {
    background-color: rgb(255, 255, 255);
    border: rgb(200, 50, 50) solid 2px;
    color: rgb(200, 50, 50);
}

.btn-danger:hover {
    background-color: rgb(200, 50, 50);
    border: black solid 2px;
    color: rgb(255, 255, 255);
}

.btn-outline-warning {
    border: rgb(200, 50, 50) solid 2px;
    color: rgb(200, 50, 50);
}

 .btn-outline-warning:hover {
    background-color: rgb(200, 50, 50);
    border: black solid 2px;
    color: rgb(255, 255, 255);
}
.initial {
    font-weight: bold;
}

.fa-instagram  {
    color: rgb(131,58,180);
}
.bg-banner {
    background-color: rgba(50, 200, 200, 0.300);
}
.bg-secondary {
    background-color: rgba(50, 200, 200, 0.300);
}
.tarif {
    border: rgb(50, 200, 200) solid 1px;
    background: rgba(50, 200, 200, 0.200);
    margin-top: 10px;
    display: inline-block;
}

@media screen and (min-width: 1199px) {
    .box {
      width: 50%;
      padding: 10px;
    }
}

  @media screen and (max-width: 1199px) {
  .box {
    width: 100%;
  }

}