h1, .initial, .fa-music, .fa-question-circle, .fa-camera, .fa-youtube-square {
    color: rgb(200, 50, 50);
}

.btn-danger {
    background-color: rgb(255, 255, 255);
    border: rgb(200, 50, 50) solid 2px;
    color: rgb(200, 50, 50);
}

.btn-danger:hover {
    background-color: rgb(200, 50, 50);
    border: black solid 2px;
    color: rgb(255, 255, 255);
}

.btn-outline-warning {
    border: rgb(200, 50, 50) solid 2px;
    color: rgb(200, 50, 50);
}

 .btn-outline-warning:hover {
    background-color: rgb(200, 50, 50);
    border: black solid 2px;
    color: rgb(255, 255, 255);
}
